{% extends 'base.html' %}


{% block jumbotron %}
     <div class="jumbotron">
        <h1 style="color: #FF3366" face="palatino">Welcome!</h1>
        <p style="color: #FF3366" face="verdana">This is a web-based app to help find restaurants around specific locations.</p>
        <p>
          <form method='POST' action='' > {% csrf_token %}
    <input type='text' name='search'>
    <input type='submit' value='Search Locations' class='btn btn-danger'>
</form>
        </p>
      </div>
{% endblock %}

{% block content %}
<div class='text-success'>
   <font size="6" face="verdana" style="color: #FF3366">
{% if locations %}
You searched for {{ Query }}
<ul>
    {% for name, loc_id in locations %}
    <li><a href='location/{{ loc_id }}' style="color: #660000">{{ name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
</font> 
</div>
{% endblock %}